@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<br>
<address>
    <strong>Автор:</strong> Алексей Голубев<br />
    <strong>Контакты:</strong>   <a href="mailto:al096@mail.com">al096@mail.com</a><br />
</address>
