@{
    ViewBag.Title = "Главная";
}
@section scripts {
    <script>
        $(document).ready(function () {
            $("#fl_inp").change(function () {
                var filename = $(this).val().replace(/.*\\/, "");
                $("#fl_nm").html(filename);
            });
        });
    </script>
}
    
@using (Html.BeginForm("IndexAction", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="fl_upld">
        <h3>Выберите docx-шаблон для загрузки</h3>
        <br>
        <label><input id="fl_inp" type="file" name="upload" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document">Выберите файл</label>
        <div id="fl_nm">Файл не выбран</div><br><br>
        <label><input id="fl_b" type="submit" />Загрузить</label>
        <br />
        <h4>@ViewBag.Message</h4>
    </div>
}
